.cardLink {
    text-decoration: none;
    font-size: 1.75rem;    
}

.card {
    width: 40rem;
    height: 20rem;

    color: #333;
    display: grid;
    border: 1px solid #F9F5E9;
    justify-items: center;
    align-items: center;
}

.titleHolder {
    grid-column: 1;
    grid-row: 1;
    z-index: 99;
}

.cardTitle {
    text-align: center;
    display: block;
    margin: 0;
}

.hoverTitle {
    display: block;
    text-align: center;
    margin: 0;
    color: #F9F5E9;
}

@media only screen and (min-width: 950px) {
    .card {
      width: 60rem;
      height: 30rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .card {
      width: 100vw;
      height: 25vh;
    }
  }