.essayContent {
    border: 1px solid black;
}

.block {
    background: #333;
    flex-grow: 1;
    height: 2em;
    border: 1px solid #F9F5E9;

}

.block:hover {
    background: #999;
    cursor: pointer;
}

.currentBlock {
    background: #999;
    flex-grow: 1;
    height: 2em;
}

.navContainer {
    display: grid;
    border-top: 2px solid #333;
}

.nav, .filmTitle {
    grid-area: 1/1/2/2;
  }

.nav {
    display: flex;
    width: 100vw;
    flex-direction: row;
    z-index: 99;
    opacity: .2;
  }

.thumbnailContainer {
  width: 100px;
  position: absolute;
}



.thumbnail {
  width: 300px;
  padding-top: 1em;
  background-color: #333;
}

.sticky {
  position: sticky;
  top: 0;
}

.markerFlexbox {
  width: 300px;
  height: 2rem;
  position: absolute;
  top: -2rem;
  display: flex;
  justify-content: center;
}

.marker {
  width: 3px;
  height: 2rem;
  background-color: #333;
}

/* .testMarker {
  width: .25rem;
  height: 2rem;
  background-color: #333;
  position: absolute;
  top: 0em;
} */

/* .edgeMarkerFlexbox {
  height: 2rem;
  position: absolute;
  top: -2rem;
}

.edgeMarker {
  width: .25rem;
  height: 2rem;
  background-color: red;
} */