.essayContent {
    border: 1px solid black;
}

.block {
    background: #333;
    flex-grow: 1;
    height: 2em;
}

.block:hover {
    background: whitesmoke;
}

.currentBlock {
    background: whitesmoke;
    flex-grow: 1;
    height: 2em;
}

.navContainer {
    display: grid;
    border-top: 2px solid #333;

}

.nav, .filmTitle {
    grid-area: 1/1/2/2;
  }

.nav {
    display: flex;
    width: 100vw;
    flex-direction: row;
    z-index: 99;
    opacity: .2;
  }

.filmTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.filmTitle h2 {
    color: #333;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.thumbnailContainer {
  background-color: #333;
  width: 100px;
  position: absolute;
}

.thumbnail {
  width: 100px;
  padding-top: 1em;
}